.c-hd {
	background-color: transparent
}

.hd_active {
	background-color: #1f28b5
}

.homeBaner-module {
	position: relative;
	/*min-width: 1190px;*/
	height: 570px;
	font-size: 0;
	overflow: hidden;
	margin: 0 auto;
	color: #fff;
	background: #040614
}

.homeBaner-module:hover .banner-ctrl {
	display: block
}

.homeBaner-module .banner_bg_video {
	width: 100%;
	height: 100%;
	overflow: hidden
}

.homeBaner-module .banner_bg_video > .bg-video-tag {
	display: block;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto
}

.homeBaner-module .banner-slider-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../images/banner_slider_bg.png);
	background-size: cover
}

.homeBaner-module .banner-slider-wrap .banner-slider {
	height: 100%
}

.homeBaner-module .owl-dots {
	padding-bottom: 20px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center
}

.homeBaner-module .owl-dots .owl-dot {
	position: relative;
	display: inline-block;
	margin: 5px 7px;
	width: 52px;
	height: 12px
}

.homeBaner-module .owl-dots .owl-dot > span {
	position: absolute;
	left: 0;
	width: 52px;
	height: 2px;
	background-color: #fff;
	opacity: .2
}

.homeBaner-module .owl-dots .owl-dot > span::before {
	position: absolute;
	left: 0;
	content: '';
	width: 52px;
	height: 2px;
	background-color: #fff;
	opacity: .2
}

.homeBaner-module .owl-dots .owl-dot.active > span {
	opacity: 1;
	-webkit-animation: progressRun 7s linear forwards;
	animation: progressRun 7s linear forwards
}

@-webkit-keyframes progressRun {
	0% {
		width: 0
	}
	to {
		width: 52px
	}
}

@keyframes progressRun {
	0% {
		width: 0
	}
	to {
		width: 52px
	}
}

.homeBaner-module .banner-slider-nav {
	position: absolute;
	width: 100%;
	top: 50%;
	z-index: 2
}

.homeBaner-module .banner-slider-nav button {
	position: absolute;
	top: 50%;
	margin-top: -70px;
	width: 120px;
	height: 120px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border-radius: 50%;
	border: none
}

.homeBaner-module .banner-slider-nav button:hover {
	background: rgba(0, 0, 0, .6)
}

.homeBaner-module .banner-slider-nav button:active {
	background: rgba(0, 0, 0, .8)
}

.homeBaner-module .banner-slider-nav button span {
	display: none
}

.homeBaner-module .banner-slider-nav .owl-prev {
	left: -60px
}

.homeBaner-module .banner-slider-nav .owl-prev:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	right: 15px;
	margin-top: -25px;
	background: url(../images/icon-prev.png) no-repeat center;
	background-size: 32px 32px
}

.homeBaner-module .banner-slider-nav .owl-next {
	right: -60px
}

.homeBaner-module .banner-slider-nav .owl-next:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 15px;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: url(../images/icon-next.png) no-repeat center;
	background-size: 32px 32px
}

.homeBaner-module .banner-slider-item {
	height: 570px;
	padding-top: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.homeBaner-module .banner-slider-item .banner-btn-con {
	margin-top: 75px;
}

.homeBaner-module .banner-slider-item .banner-btn {
	display: inline-block;
	padding: 0 46px;
	margin-right: 52px;
	height: 55px;
	line-height: 55px;
	font-size: 20px;
	color: #fff;
	border-radius: 27px;
	background: 0 0;
	border: 1px solid #fff;
	-webkit-animation: all .25s;
	animation: all .25s
}

.homeBaner-module .banner-slider-item .banner-btn span {
	margin-left: 10px;
	font-size: 30px;
	vertical-align: bottom
}

.homeBaner-module .banner-slider-item .banner-btn:hover {
	color: #ff7f00
}

.homeBaner-module .slider_item_content {
	display: table;
	height: 100%
}

.homeBaner-module .slider_item_content .slider_item_text {
	display: table-cell;
	vertical-align: middle
}

.homeBaner-module .slider_item_content .slider_item_text h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 25px;
	letter-spacing: 1px
}

.homeBaner-module .slider_item_content .slider_item_text p {
	margin-bottom: 10px;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px
}

.homeBaner-module .slider_item_content .slider_item_text .product-btn {
	margin-top: 0
}

.homeBaner-module .slider_item_content .slider_item_text .g-subtitle {
	text-align: left;
	font-size: 20px;
	color: #fff;
	margin-bottom: 55px;
	font-weight: 400;
	margin-top: 40px
}

.homeBaner-module .slider_item_content .slider_item_text .g-subtitle > span {
	font-size: 28px;
	padding-bottom: 5px;
	font-weight: 600
}

.homeBaner-module .slider_item_content .slider_item_text .g-subtitle > span::after {
	height: 3px
}

.homeBaner-module .slider_item_content .slider_item_image {
	display: table-cell;
	vertical-align: middle
}

.homeBaner-module .slider_item_content .slider_item_image > img {
	float: right;
	max-width: 100%;
	width: inherit
}

.homeBaner-module .slider_item_content .slider_item_image > img.no-margin-top {
	margin-top: 0
}

.homeBaner-module .slider_item_content .slider_item_l, .homeBaner-module .slider_item_content .slider_item_r {
	display: table-cell;
	vertical-align: middle
}

.homeBaner-module .slider_item_content .slider_item_l .g-btn, .homeBaner-module .slider_item_content .slider_item_r .g-btn {
	margin-top: 40px;
	width: 68px;
	line-height: 48px;
	font-size: 16px;
	border-radius: 0;
	background: 0 0;
	border-bottom: 2px solid #fff;
	-webkit-animation: all .25s;
	animation: all .25s
}

.homeBaner-module .slider_item_content .slider_item_l .g-btn:hover, .homeBaner-module .slider_item_content .slider_item_r .g-btn:hover {
	color: #014ae3;
	border-bottom: 2px solid #014ae3
}

.homeBaner-module .slider_item_content .slider_item_l {
	width: 50%
}

.homeBaner-module .slider_item_content .slider_item_l > img {
	max-width: 446px
}

.homeBaner-module .slider_item_content .slider_item_r img {
	max-width: 550px
}

.homeBaner-module .banner_activity .banner_activity_lf, .homeBaner-module .banner_activity .banner_activity_rt {
	display: table-cell;
	vertical-align: middle
}

.homeBaner-module .banner_activity .banner_activity_lf {
	width: 52%
}

.homeBaner-module .banner_activity .banner_activity_lf > img {
	width: 100%
}

.homeBaner-module .banner_activity .banner_activity_rt {
	padding-left: 10%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.homeBaner-module .banner_activity .banner_activity_rt > img {
	width: 450px
}

.promotionPosition {
	background-color: #0a0a44;
}

.promotionPosition .promotion-bg {
	padding: 48px 0;
}

.promotionPosition .menu-item {
	float: left;
	width: 23.5%;
	height: 120px;
	margin-left: 0;
	background-repeat: no-repeat;
	background-position: 14px 50%;
	background-size: contain;
	background-color: #0a0a44;
	border: 1px solid #73aaf2;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s
}

.promotionPosition .menu-item:hover {
	background-position-y: 14%;
	background-color: rgba(255,255,255,.2);
}

.promotionPosition .menu-item + .menu-item {
	margin-left: 2%
}

.promotionPosition .menu-item:nth-child(1) {
	background-image: url(../images/menu-item-1.png);
	background-size: 73px 53px;
}

.promotionPosition .menu-item:nth-child(2) {
	background-image: url(../images/menu-item-2.png);
	background-size: 66px 66px;
}

.promotionPosition .menu-item:nth-child(3) {
	background-image: url(../images/menu-item-3.png);
	background-size: 69px 61px;
}

.promotionPosition .menu-item:nth-child(4) {
	background-image: url(../images/menu-item-4.png);
	background-size: 71px 66px;
}

.promotionPosition .menu-item-content {
	height: 120px;
	padding: 29px 5px 5px 105px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.promotionPosition .menu-txt {
	color: #73aaf2
}

.promotionPosition .menu-txt h4 {
	color: #73aaf2;
	margin-bottom: 5px;
}

.applicationScenarios {
	padding-top: 80px;
}

.applicationScenarios .g-title-line {
	margin-top: 30px;
	margin-bottom: 60px;
}

.applicationScenarios .directory-title {
	font-size: 28px;
	color: #051d45;
	text-align: center;
	margin: 30px 0;
}

.applicationScenarios .application-grouping .list-row {
	position: relative;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s
}

.applicationScenarios .application-grouping .list-row-bg {
	position: absolute;
	top: 72px;
	width: 100%;
	background-color: #cef0ff;
	z-index: 1;
	height: 300px;
	display: none
}

.applicationScenarios .application-grouping .list-col {
	width: 25%;
	float: left;
	text-align: center
}

.applicationScenarios .application-grouping .list-col .tab-head {
	height: 72px;
	cursor: pointer
}

.applicationScenarios .application-grouping .list-col .tab-head p {
	display: inline-block;
	padding: 25px 0 15px 60px;
	font-size: 20px;
	color: #5d5d5d;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 40px 40px
}

.applicationScenarios .application-grouping .list-col .tab-head .tab-line {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 6px;
	background: #cef0ff;
	opacity: 0
}

.applicationScenarios .application-grouping .list-col-2 .list-content {
	margin-left: -100%
}

.applicationScenarios .application-grouping .list-col-3 .list-content {
	margin-left: -200%
}

.applicationScenarios .application-grouping .list-col-4 .list-content {
	margin-left: -300%
}

.applicationScenarios .application-grouping .list-content {
	position: relative;
	width: 1170px;
	height: 300px;
	z-index: 2;
	zoom: 1;
	display: none;
	background-position: 50px center;
	background-repeat: no-repeat;
	background-size: contain
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content {
	display: block
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-1_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1.active p, .applicationScenarios .application-grouping .list-row-1 .list-col-1:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-1_active.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-1/bg-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-1/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-1/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-1/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-1 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-1/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-2_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2.active p, .applicationScenarios .application-grouping .list-row-1 .list-col-2:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-2_active.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-1/bg-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-2/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-2/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-2/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-2 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-2/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-3_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3.active p, .applicationScenarios .application-grouping .list-row-1 .list-col-3:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-3_active.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-1/bg-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-3/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-3/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-3/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-3 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-3/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-4_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4.active p, .applicationScenarios .application-grouping .list-row-1 .list-col-4:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-1/tab-icon/icon-4_active.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-1/bg-4.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-4/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-4/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-4/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-1 .list-col-4 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-1/icon-4/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-1_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1.active p, .applicationScenarios .application-grouping .list-row-2 .list-col-1:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-1_active.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-2/bg-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-1/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-1/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-1/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-1 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-1/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-2_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2.active p, .applicationScenarios .application-grouping .list-row-2 .list-col-2:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-2_active.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-2/bg-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-2/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-2/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-2/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-2 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-2/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-3_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3.active p, .applicationScenarios .application-grouping .list-row-2 .list-col-3:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-3_active.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-2/bg-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-3/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-3/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-3/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-3 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-3/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-4_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4.active p, .applicationScenarios .application-grouping .list-row-2 .list-col-4:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-2/tab-icon/icon-4_active.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-2/bg-4.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-4/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-4/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-4/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-2 .list-col-4 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-2/icon-4/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-1_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1.active p, .applicationScenarios .application-grouping .list-row-3 .list-col-1:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-1_active.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-3/bg-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-1/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-1/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-1/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-1 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-1/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-2_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2.active p, .applicationScenarios .application-grouping .list-row-3 .list-col-2:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-2_active.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-3/bg-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-2/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-2/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-2/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-2 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-2/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-3_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3.active p, .applicationScenarios .application-grouping .list-row-3 .list-col-3:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-3_active.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-3/bg-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-3/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-3/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-3/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-3 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-3/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-4_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4.active p, .applicationScenarios .application-grouping .list-row-3 .list-col-4:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-3/tab-icon/icon-4_active.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-3/bg-4.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-4/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-4/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-4/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-3 .list-col-4 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-3/icon-4/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-1_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1.active p, .applicationScenarios .application-grouping .list-row-4 .list-col-1:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-1_active.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-4/bg-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-1/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-1/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-1/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-1 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-1/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-2_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2.active p, .applicationScenarios .application-grouping .list-row-4 .list-col-2:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-2_active.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-4/bg-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-2/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-2/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-2/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-2 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-2/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-3_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3.active p, .applicationScenarios .application-grouping .list-row-4 .list-col-3:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-3_active.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-4/bg-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-3/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-3/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-3/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-3 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-3/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 p::after {
	position: absolute;
	content: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-4_active.png);
	top: 0;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4.active p, .applicationScenarios .application-grouping .list-row-4 .list-col-4:hover p {
	background-image: url(../images/web3.0/doc-home/application/row-4/tab-icon/icon-4_active.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 .list-content {
	background-image: url(../images/web3.0/doc-home/application/row-4/bg-4.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 .list-content .txt-list li:nth-child(1) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-4/icon-1.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 .list-content .txt-list li:nth-child(2) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-4/icon-2.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 .list-content .txt-list li:nth-child(3) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-4/icon-3.png)
}

.applicationScenarios .application-grouping .list-row-4 .list-col-4 .list-content .txt-list li:nth-child(4) {
	background-image: url(../images/web3.0/doc-home/application/row-4/icon-4/icon-4.png)
}

.applicationScenarios .application-grouping .list-content-desc {
	float: right;
	margin-top: 50px;
	min-width: 450px;
	margin-right: 200px
}

.applicationScenarios .application-grouping .list-content-desc h4 {
	font-size: 30px;
	color: #243858;
	font-weight: 400;
	margin-bottom: 30px;
	text-align: left
}

.applicationScenarios .application-grouping .list-content-desc .txt-list {
	width: 400px;
	overflow: hidden
}

.applicationScenarios .application-grouping .list-content-desc .txt-list > li {
	float: left;
	width: 50%;
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 50px;
	height: 40px;
	line-height: 40px;
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #243858;
	text-align: left
}

.applicationScenarios .application-grouping .list-content-desc .txt-list > li > img {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 15px
}

.applicationScenarios .application-grouping .trial-btn {
	position: absolute;
	width: 208px;
	height: 72px;
	top: 50%;
	right: 15px;
	margin-top: -36px;
	text-align: center;
	background-image: url(../images/web3.0/doc-home/application/trial-btn_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	z-index: 11
}

.applicationScenarios .application-grouping .trial-btn:hover {
	opacity: .9
}

.applicationScenarios .application-grouping .trial-btn a {
	display: inline-block;
	width: 100%;
	height: 72px;
	vertical-align: top
}

.applicationScenarios .application-grouping .trial-btn p {
	margin-top: 10px;
	font-size: 18px;
	color: #fff;
	background-image: none!important
}

.applicationScenarios .application-grouping .trial-btn span {
	display: inline-block;
	border-top: 1px solid #9ce29c;
	margin-top: 5px;
	padding-top: 3px;
	padding-left: 20px;
	font-size: 14px;
	color: #fff;
	background-image: url(../images/web3.0/doc-home/application/icon-trial-btn.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 14px 14px
}

.applicationScenarios .application-grouping .open {
	height: 372px
}

.applicationScenarios .application-grouping .active .tab-head p, .applicationScenarios .application-grouping .list-col:hover .tab-head p {
	color: #014ae3
}

.applicationScenarios .application-grouping .active .tab-head .tab-line {
	opacity: 1
}

.applicationScenarios .application-grouping .list-row-1 .list-row-bg {
	display: block
}

.productDisplay {
	margin: 60px auto
}

.productDisplay .product-body {
	width: 90%;
	margin: 60px auto 0
}

.productDisplay .product-body li {
	float: left;
	width: 45%;
	height: 200px;
	margin-bottom: 30px
}

.productDisplay .product-body li:nth-child(2n) {
	margin-left: 10%
}

.productDisplay .product-body .head {
	height: 60px
}

.productDisplay .product-body .body {
	height: 80px
}

.productDisplay .product-body .body p {
	color: #464646;
	line-height: 2
}

.productDisplay .product-body .foot .g-more {
	margin-left: 15px
}

.safetyFast .safetyFast-body-item {
	float: left;
	width: 28%
}

.safetyFast .safetyFast-body-item + .safetyFast-body-item {
	margin-left: 8%
}

.safetyFast .head {
	position: relative;
	margin-top: 30px;
	margin-bottom: 25px;
	padding-left: 120px;
	height: 70px
}

.safetyFast .head > img {
	position: absolute;
	top: 0;
	left: 0
}

.safetyFast .head .stable-img {
	width: 68px;
	height: 70px
}

.safetyFast .head .safe-img {
	top: -22px;
	left: 20px;
	width: 75px;
	height: 94px
}

.safetyFast .head .speedy-img {
	width: 95px;
	height: 63px
}

.safetyFast .head h4 {
	font-size: 36px;
	color: #051d45
}

.safetyFast .head span {
	font-size: 20px
}

.safetyFast .first-head {
	padding-left: 100px
}

.safetyFast .desc {
	color: #5d5d5d;
	margin-bottom: 25px;
	line-height: 1.5
}

.safetyFast .list {
	padding-top: 10px;
	border-top: 1px solid #b7b7b7
}

.safetyFast .list li {
	position: relative;
	color: #082047;
	font-size: 16px;
	padding: 15px 0 15px 60px
}

.safetyFast .list li img {
	position: absolute;
	top: 50%;
	left: 0;
	width: 26px;
	height: 26px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.safetyFast .g-more {
	text-align: center;
	display: block
}

.registerNow {
	padding: 40px 0;
	margin: 0 auto 65px;
	color: #fff;
	background-color: #080d46
}

.registerNow .register-desc {
	width: 35%
}

.registerNow .register-desc h2 {
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 10px
}

.registerNow .register-desc p {
	color: #a7a7a7;
	line-height: 2;
	margin-bottom: 30px
}

.registerNow .register-desc .g-btn {
	background-color: #3377FF;
}

.registerNow .register-desc .g-btn:hover {
	color: #fff;
	background-color: #377DFF;
}

.registerNow .register-img {
	position: absolute;
	top: -125px;
	right: 0;
	width: 560px;
	/*height: 525px;*/
	height: 400px;
	background: url(../images/registernow-bg.png) no-repeat center;
	background-size: contain
}

.customerNumber {
	margin-top: 100px;
	background-color: #fff
}

.customerNumber .customer-body {
	margin-top: 30px
}

.customerNumber .customer-body .customer-logo li {
	float: left;
	width: 11.11%;
	margin-bottom: 30px
}

.customerNumber .customer-body .customer-logo li > img {
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto
}

.customerNumber .customer-foot {
	padding-top: 30px
}

.customerNumber .customer-foot-item {
	float: left;
	width: 24.25%;
	height: 465px
}

.customerNumber .customer-foot-item + .customer-foot-item {
	margin-left: 1%
}

.customerNumber .customer-foot-item a {
	display: block;
	overflow: hidden
}

.customerNumber .customer-foot-item a img {
	width: 100%;
	min-height: 100%;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.customerNumber .customer-foot-item a img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.customerNumber .customer-foot-item a + a {
	margin-top: 10px
}

.customerNumber .customer-foot-item .desc-img-1 {
	height: 250px
}

.customerNumber .customer-foot-item .desc-img-2 {
	height: 205px
}

.customerNumber .customer-foot-item .desc-img-3 {
	height: 465px
}

.customerNumber .customer-foot-item .desc-img-4 {
	height: 335px
}

.customerNumber .customer-foot-item .desc-img-5 {
	height: 225px
}

.customerNumber .customer-foot-item .desc-img-6 {
	height: 230px
}

.customerNumber .customer-foot-item .desc-more {
	display: block;
	height: 120px;
	line-height: 120px;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	background-color: #080d46
}

.customerNumber .customer-foot-item .desc-more:hover {
	background-color: #014ae3
}

.aboutUs {
	margin-top: 80px;
	padding-bottom: 80px;
	background-color: #fff
}

.aboutUs .title {
	font-size: 26px;
	line-height: 1;
	color: #082047;
	margin-bottom: 20px
}

.aboutUs .about-head {
	margin-bottom: 60px
}

.aboutUs .about-body {
	/*margin-bottom: 80px*/
}

.aboutUs .about-body .bd-item {
	float: left;
	line-height: 2;
	width: 28%;
	min-height: 400px
}

.aboutUs .about-body .bd-item + .bd-item {
	margin-left: 8%
}

.aboutUs .about-body .bd-item:nth-child(3) .bd-img {
	border: 1px solid #eee
}

.aboutUs .about-body .bd-item .g-more {
	margin-top: 10px
}

.aboutUs .about-body .bd-img {
	width: 100%;
	height: 180px;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 6px
}

.aboutUs .about-body .bd-img img {
	width: 100%;
	height: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; width: 100%; 
	}
.aboutUs .about-body .bd-img:hover img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.aboutUs .about-body .latestInformation ul, .aboutUs .about-body .mediaReports ul {
	margin-left: 6px;
	padding-left: 10px
}

.aboutUs .about-body .latestInformation li, .aboutUs .about-body .mediaReports li {
	list-style: disc;
	margin-bottom: 10px
}

.aboutUs .about-body .latestInformation li a, .aboutUs .about-body .mediaReports li a {
	display: inline-block;
	width: 100%;
	color: #014ae3;
	vertical-align: top;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden
}

.aboutUs .about-body .latestInformation li a:hover, .aboutUs .about-body .mediaReports li a:hover {
	color: #ff7f00;
	text-decoration: underline;
}

.aboutUs .about-foot .ft-item {
	position: relative;
	display: inline-block;
	width: 47%
}

.aboutUs .about-foot .ft-item .ft-item-img {
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	border-radius: 6px;
	background-image: url(../images/web3.0/doc-home/about-item.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.aboutUs .about-foot .ft-item .ft-item-img-2 {
	background-image: url(../images/web3.0/doc-home/about-item1.jpg)
}

.aboutUs .about-foot .ft-item .ft-play-btn {
	position: absolute;
	top: 56%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	cursor: pointer;
	background: url(../images/web3.0/doc-home/play-btn.png) no-repeat center;
	background-size: contain;
	border-radius: 50%
}

.aboutUs .about-foot .ft-item .g-btn {
	position: absolute;
	right: 25px;
	bottom: 20px
}

.friendly-link-module {
	padding: 30px 0;
	background-color: #1a1e4d
}

.friendly-link-module h4 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 16px
}

.friendly-link-module ul li {
	float: left;
	margin-right: 30px;
	margin-bottom: 10px
}

.friendly-link-module ul li a {
	color: #c7c7c7;
	font-size: 12px;
	padding-bottom: 2px
}

.friendly-link-module ul li a:hover {
	color: #ff7f00;
	border-bottom: 1px solid #ff7f00
}

/**/
.focus {
	padding: 38px 0 0;
	text-align: center;
	background: #fff;
}

.focus-imghd {
	height: 96px;
	background: url(../images/img-hd2.png) no-repeat center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.focus-h1 {
	padding: 40px 0;
	margin: 0;
	font-weight: bold;
	/*font-size: 40px;*/
	color: #023e79;
}

.focus-h2 {
	margin: 0 0 30px;
	text-align: center;
	font-weight: lighter;
	font-size: 36px;
}

.focus-p {
	padding: 0 8%;
	margin-bottom: 30px;
	/*font-weight: lighter;*/
	font-size: 20px;
	line-height: 2;
}

.focusSilde{ width:1200px; height:398px; margin: 0 auto; overflow:hidden; position:relative; }
.focusSilde .hd { position: absolute; width: 100%; height: 18px; left: 0; bottom:60px; z-index: 2; }
.focusSilde .hd ul { width: 100%; text-align: center; display: none;}
.focusSilde .hd ul li { display: inline-block; *display: inline; *zoom: 1; width: 12px; height: 12px; margin: 0 1px; background: #fff center no-repeat; cursor: pointer; border-radius:50%;}
.focusSilde .hd ul li.on { background: #ffc200 center no-repeat; }

.focusSilde .bd{ position:relative;width: 1060px;margin: 0 auto; height:100%; z-index:0;   }
.focusSilde .successlist li{overflow: hidden;padding: 0;}
/*.successSilde .bd li{width: 100%; height: 100%; zoom:1; vertical-align:middle;}*/
/*.successSilde .bd li a{display: block;width: 100%; height:650px; }*/

/* 下面是前/后按钮代码，如果不需要删除即可 */
.focusSilde .prev,
.focusSilde .next{ position:absolute; left:0; top:50%; margin-top:-20px; display:block; width:39px; height:39px; background:url(../images/slider-arrowl.png) no-repeat; filter:alpha(opacity=50);opacity:0.5;   }

.focusSilde .next{ left:auto; right:0; background:url(../images/slider-arrowr.png) no-repeat;  }
.focusSilde .prev:hover,
.focusSilde .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.focusSilde .prevStop{ display:none;  }
.focusSilde .nextStop{ display:none;  }
.focuslistitem {width: 100%;}
.focuslist {width: 100%; margin: 0;}
.focuslist li{padding: 0 20px; margin-bottom: 26px;}
.focusContent .media{width: 100%;}
.focusContent .media-time{width: 63px; display: table-cell;vertical-align: top}
.focusContent .media-time .time{padding-top: 11px; width: 63px; height: 104px;text-align: center;color: #fff; background: #0077ee;}
.focusContent .media-time .day{padding: 13px 0; font-size: 22px;}
.focusContent .media-time .mon{font-size: 12px;}
.focusContent .media-time .more{width: 63px;}
.focusContent .media-time .more a{display: block;width: 63px;}
.focusContent .media-time img{width: 100%;}
.focusContent .media-left{padding: 0;height: 166px;overflow: hidden;}
.focusContent .media-left a{display: block; width: 170px; height: 166px;overflow: hidden;}
.focusContent .media-object{display: block; width: 170px; height: 166px;overflow: hidden;}
.focusContent .media-body{padding: 16px; width: 252px;border: 1px solid #ddd;}
.focusContent .media-heading{margin-bottom: 10px;width: 223px; white-space:nowrap; overflow: hidden;-ms-text-overflow: ellipsis;
text-overflow: ellipsis;text-align: left;color: #023e79;}
.focusContent .media-p{overflow: hidden; width: 223px;height: 95px; font-size: 14px; text-align: left; line-height: 1.7;}
.focusContent .media-p a{color: #585c5f;}
.focusContent .media-p a:hover{color: #ff7f00;text-decoration: underline;}

/*蓝叶电商产品*/

.interval {
	color: #fff;
	background: #3377FF;
}

.bright {
	background: #f6f7f7
}

.electricity {
	padding-top: 40px;
	padding-bottom: 80px;
}

.main {
	width: 1200px;
	margin: auto;
}

.plate-title {
	font-size: 26px;
}

.plate-introduct {
	line-height: 36px;
	font-size: 17px;
}

.electricity .plate-title {
	padding-bottom: 18px;
	font-weight: bold;
	color: #333;
}

.electricity .plate-introduct {
	padding-bottom: 44px;
	color: #666;
}

.electricity .content {}

.col-pro {}

.col-pro ul {
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
}

.pro-header {
	height: 160px;
	padding-top: 10px;
	color: #fff;
	background: #006ef0;
}

.pro-header .pro-tit {
	font-size: 18px;
	margin-bottom: 11px;
}

.pro-header .pro-intr {
	font-size: 14px;
}

.header-icon {
	height: 80px;
}

.left .header-icon img {
	padding-top: 23px;
}

.center .header-icon img {
	padding-top: 22px;
}

.right .header-icon img {
	padding-top: 14px;
}

.pro-body {
	padding: 34px 0 22px;
}

.pro-body li {
	height: 62px;
	line-height: 62px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.pro-body li a {
	font-size: 16px;
	color: #373D3F;
	/*font-weight: lighter;*/
}

.pro-body li a:hover {
	color: #ff7f00;
	text-decoration: underline;
}

.check-certificate {
	padding: 48px 0 38px;
	line-height: 42px;
}

.check-certificate img {
	vertical-align: middle;
	margin-right: 10px;
}

.check-certificate a {
	font-size: 17px;
	color: #555;
	text-decoration: underline;
}

.check-certificate a:hover {
	color: #ff7f00;
}

.services {
	padding-top: 53px;
}

.services .plate-title {
	margin: 0 0 38px;
	font-size: 40px;
	font-weight: bolder;
	letter-spacing: 4px;
}

.services .content {
	padding-top: 50px;
}

.col-serv {
	width: 398px;
}


/*.serv-icon{}*/


/*.serv-icon img{transition: all ease-in-out 0.4;}*/


/*.serv-icon img:hover{transform:rotate(180deg);}*/

.serv-tit {
	font-size: 20px;
	font-weight: normal;
	line-height: 68px;
}

.serv-intr {
	line-height: 30px;
	margin: 0 auto;
	/*font-weight: lighter;*/
	overflow: hidden;
}

.services .serv-intr {
	width: 350px;
	font-size: 16px;
}
.services .serv-intr a{color: #fff;}
.services .serv-intr a:hover{color: #f3f564;text-decoration: underline;}
.plan .serv-intr {
	width: 310px;
	height: 130px;
}

.implementation .serv-intr {
	width: 250px;
	height: 120px;
}

.serv-foot {
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	padding: 80px 0 55px;
}

.serv-foot a.btn, .serv-foot strong {
	display: inline;
	padding: 15px 24px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	border: 2px solid #fff;
	-ms-border-radius: 30px;
	border-radius: 30px;
}

.contact .serv-foot a.btn {
	border-width: 1px;
}

.services .serv-foot a.btn {
	font-style: italic;
	font-weight: lighter;
}

.plan .serv-foot a.btn {
	color: #016ef0;
	/*background: #00aef0;*/
	border: 1px solid #016ef0;
}

.icon {
	display: block;
	float: left;
	background-repeat: no-repeat!important;
}

/*.icon-qq {
	width: 40px;
	height: 40px;
	background: url(../images/icon-qq.png) 0 0;
}

.icon-qq:hover {
	width: 40px;
	height: 40px;
	background: url(../images/icon-qq.png) 0 -60px;
}*/

.icon-qq{width: 40px;height: 40px;background:#006ef0 url(../images/icon-qq1.svg) no-repeat center;-webkit-background-size: 48px;background-size: 48px;border-radius:50%;}
.icon-qq:hover{width: 40px;height: 40px;background-color: #ff7f00;}

.serv-foot a {
	margin-left: 23px;
	margin-top: 4px;
}

.serv-foot a.btn:hover {
	color: #fff;
	background: #ff7f00;
	border-color: #ff7f00;
}


/*solve*/

.solve {
	padding-top: 33px;
}

.solve .plate-title {
	color: #333;
}

.icon-solve {
	display: block;
	width: 110px;
	height: 87px;
	background: url(../images/icon-plan.png) no-repeat;
}

.icon-solve1 {
	background-position: 0 bottom;
}

.icon-solve2 {
	background-position: -162px bottom;
}

.icon-solve3 {
	background-position: -333px bottom;
}

.icon-solve4 {
	background-position: -505px bottom;
}

.icon-solve5 {
	background-position: -678px bottom;
}

.icon-solve6 {
	background-position: -809px bottom;
}

.icon-tech {
	display: block;
	width: 65px;
	height: 65px;
	background: url(../images/icon-tech.png) no-repeat;
}

.icon-tech1 {
	background-position: 0 bottom;
}

.icon-tech2 {
	background-position: -124px bottom;
}

.icon-tech3 {
	background-position: -241px bottom;
}

.icon-tech4 {
	background-position: -365px bottom;
}

.icon-tech5 {
	background-position: -489px bottom;
}

.icon-tech6 {
	background-position: -610px bottom;
}


/*.icon-solve:hover,.icon-tech:hover{background-position-y: bottom;}*/

.solve .plate-title {
	/*font-weight: normal;*/
	padding-bottom: 18px;
}

.community .plate-title {
	font-weight: lighter;
	padding: 30px 0 56px;
}

.solve .serv-tit {
	color: #373d3f;
}

.solve .col-serv {
	padding-top: 72px;
}

.solve .hovera {
	/*font-weight: lighter;*/
}

.plan .hovera {
	color: #777;
}

.implementation .hovera {
	color: #A0A6AA;
}

.solve .hovera:hover {
	color: #3377FF;
	text-decoration: none;
}

.pad-b75 {
	padding-bottom: 75px;
}

.stripes-data {
	height: 310px;
	padding-top: 54px;
	color: #00b2d1;
	background: #22252a url(../images/adv-1.png) no-repeat top center;
}

.stripes-data .plate-title {
	font-size: 40px;
}

.stripes-data .plate-introduct {
	width: 562px;
	padding-bottom: 53px;
	line-height: 30px;
	font-size: 18px;
}

a.btn-now {
	padding: 10px 25px;
	font-size: 18px;
	color: #ffc600;
	border: 1px solid #ffc600;
}

a.btn-now:hover {
	color: #fff;
	background: #ffc600;
}
/*.icon-qqgray{width: 40px;height: 40px;background:url(../images/icon-qqgray.png) 0 0;}
.icon-qqgray:hover{width: 40px;height: 40px;background:url(../images/icon-qqgray.png) 0 -60px;}*/

.icon-qqgray{width: 40px;height: 40px;background:#006ef0 url(../images/icon-qq.svg) no-repeat center;-webkit-background-size: 100%;background-size: 100%; border: 5px solid #006ef0; border-radius:50%;}
.icon-qqgray:hover{width: 40px;height: 40px;background-color: #ff7f00;border-color:#ff7f00;}


/*合作伙伴*/
.successSilde{ width:1300px; height:530px; margin: 0 auto; overflow:hidden; position:relative; }
.successSilde .hd { position: absolute; width: 100%; height: 18px; left: 0; bottom:60px; z-index: 2; }
.successSilde .hd ul { width: 100%; text-align: center; }
.successSilde .hd ul li { display: inline-block; *display: inline; *zoom: 1; width: 12px; height: 12px; margin: 0 1px; background: #fff center no-repeat; cursor: pointer; border-radius:50%;}
.successSilde .hd ul li.on { background: #ffc200 center no-repeat; }

.successSilde .bd{ position:relative;width: 1200px;margin: 0 auto; height:100%; z-index:0;   }
.successSilde .successlist li{overflow: hidden;padding: 0;}
#successful .main p{color:white;}
/*.successSilde .bd li{width: 100%; height: 100%; zoom:1; vertical-align:middle;}*/
/*.successSilde .bd li a{display: block;width: 100%; height:650px; }*/



/*case*/
.caselist li{margin-bottom:30px;}
.caselist li .pic{ width: 90%; margin: 0 auto; }
.caselist li .pic img{width:100%;}

.caselist li .item-info{position:absolute;top:192px;width:90%;left:15px;height:192px;color:#fff;background:rgba(0,0,0,0.7);z-index:999;}

.caselist li .item-info h2{margin-top:37px;margin-bottom:18px}

.caselist .item-info h3{font-size:20px;font-weight:400;margin-bottom:12px}
.caselist  .item-info p{padding:0 30px;font-size:12px;line-height:19px}
.pad-b40{padding-bottom: 40px;}
.caselist .item-info a{color:#fff;}


