<style>

</style>

<aside class="member-menu">
    <div class="item">

        <p class="title">
            <i class="icon i-member-center"></i>
            会员中心
        </p>
        <ul>
            {volist name="member_menu" id="vo"}
            <li>
                　　<a href="{$vo.url}" >{$vo.name}</a>
            </li>
            {/volist}
        </ul>
    </div>

    <div class="item">
        <p class="title">
            <i class="icon i-trading-center"></i>
            充值中心
        </p>
        <ul>
            {volist name="order_menu" id="vo"}
            <li>
                　　<a href="{$vo.url}" >{$vo.name}</a>
            </li>
            {/volist}
        </ul>
    </div>

    <div class="item">
        <p class="title">
            <i class="fa fa-users"></i>
            推广联盟
        </p>
        <ul>
            {volist name="promotion_menu" id="vo"}
            <li>
                　　<a href="{$vo.url}" >{$vo.name}</a>
            </li>
            {/volist}
        </ul>
    </div>
</aside>
<script type="text/javascript">
    $(function () {
        $(".member-menu ul li a[href='" + String(location) + "']").addClass("ns-text-color");
    });
</script>