{include file="./public/header" }
{include file="./public/navbar" }
<style>
    .content {
        min-height: 250px;
        padding: 22px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-height:700px;
    }
    .box.box-solid{
        border-top:0px;
    }
    .box {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        border-top: 3px solid #d2d6de;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    .box.box-primary {
        border-top-color: #3377FF;
    }
    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }
    .box-header .box-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
    }
    .box-body{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }
    .callout.callout-info{

        border-left:5px solid #3377ee;
        border-radius:3px;
    }

    .callout.callout-info>p,.callout.callout-info>h4{
        padding:8px;
    }
    .copyInput {
        position: absolute;
        margin-top: -1000px;
    }
    .copyUrl{
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
        line-height: 1.5;
    }
</style>
<div class="ns-main w1200">
    {include file="./public/member_menu" }

    <section class="content">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">

                    <div class="box-header">
                        <h3 class="box-title">我的推广链接</h3>
                    </div><!-- /.box-header -->
                    <input class="copyInput" id="promoCodeInput" />

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <div class="copyUrl">
                                        推广链接:{$url}
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" onclick="copyPromoCode(this)" data-info="{$url}" target="_blank" class="btn btn-sm">
                                        <i class="fa fa fa-clipboard fa-lg"></i>复制链接
                                    </a>
                                </th>

                            </tr>
                            </thead>


                        </table>
                    </div>


                </div>
            </div>
            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">我的推广数据</h3>
                    </div><!-- /.box-header -->

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>###</th>
                                <th>数据</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td>总注册数</td>
                                <td>{$inviteCount}</td>
                            </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="callout callout-info alert-primary" >
                            <h4>说明</h4>
                            <p>推荐好友注册可获得积分奖励，详细规则请参照网站说明。</p>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (right) -->
        </div>

    </section>

</div>

<script type="text/javascript">
    //COPY
    function copyPromoCode(obj) {
        var promoCode = $(obj).attr("data-info");
        $("#promoCodeInput").val(promoCode);
        var promoCodeInput = document.getElementById('promoCodeInput');
        promoCodeInput.select();
        document.execCommand("Copy");
        $(obj).html('<i class="fa fa fa-clipboard fa-lg"></i> 请在浏览器中打开 <i class="fa fa-check" aria-hidden="true"></i>');
    }



</script>

{include file="./public/footer" }