{include file="./public/header" }
{include file="./public/navbar" }

<div class="ns-main w1200">
    {include file="./public/member_menu" }



    {css rel="stylesheet" href="__CSS__/member_security.css" }

    <div class="member-main">
        <section class="clearfix">
            <div class="security-column clearfix">
                <div class="pull-left column-icon">
                    <i class="icon icon-passwd"></i>
                </div>
                <div class="pull-left column-desc">
                    <p class="title">登陆密码</p>
                    <p class="introduce">建议您定期更改密码以保护账户安全，并且使用大小写英文数字混合型密码。</p>
                </div>
                <div class="pull-left column-operation">
                    <button class="btn btn-primary btn-sm" type="button" onclick="location.href='/website/memberSecurity?type=password'">修改</button>
                </div>
            </div>

            <!-- qq登录情况下绑定手机号 ，已绑定可以更换绑定手机号 -->
            <!--<div class="security-column clearfix">-->
                <!--<div class="pull-left column-icon">-->
                    <!--<i class="icon icon-bindphone"></i>-->
                <!--</div>-->
                <!--<div class="pull-left column-desc">-->
                    <!--<p class="title">手机绑定 </p>-->
                    <!--<p class="introduce">绑定后，可用于登录、快速找回登录密码，接收账户余额变动提醒</p>-->
                <!--</div>-->
                <!--<div class="pull-left column-operation">-->
                    <!--<button class="btn btn-primary btn-sm" type="button" onclick="location.href='/website/memberSecurity?type=mobile'">修改</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="security-column clearfix">-->
            <!--<div class="pull-left column-icon">-->
            <!--<i class="fa-home"></i>-->
            <!--</div>-->
            <!--<div class="pull-left column-desc">-->
            <!--<p class="title">邮箱绑定 </p>-->
            <!--<p class="introduce">验证后，可用于快速找回登录密码及支付密码</p>-->
            <!--</div>-->
            <!--<div class="pull-left column-operation">-->
            <!--<button class="btn btn-primary" type="button" onclick="location.href='/website/memberSecurity?type=password')">修改</button>-->
            <!--</div>-->
            <!--</div>-->
        </section>
    </div>


</div>

{include file="./public/footer" }